	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About WomanSpamming</h4>
      </div>
      <div class="modal-body">
        <p>At UC Berkeley’s Goldman School of Public Policy (GSPP), a series of photos honoring emeritus faculty hang on the walls of one of our classrooms. All of these photos are of men. In honor of International Women’s Day, the Coalition of Women Spammers of GSPP created this digital Wall of Sheroes. We feel that female policymakers and policy champions are often overlooked at GSPP -- this wall is an opportunity to learn about and honor some of the inspiring women who have made the world a better place.

        </p>
        <p>SPlease direct any questions or comments to <a href="mailto:GSPPWomenSpamming@gmail.com">GSPPWomenSpamming@gmail.com</a>.</p>
        <p>Or Tweet at </u>s <a href="https://twitter.com/WomenSpamming">@WomenSpamming</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60458187-1', 'blog.womanspamming.com');
  ga('send', 'pageview');

</script>

<footer class="site-footer">



</footer>
